src/main/mule/sample-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e226fed6-88d1-4c0a-b8a4-3aa8c5bc9320" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="8bde8412-3490-4aef-aa36-9596b747068c" >
		<http:request-connection host="reqres.in" />
	</http:request-config>
	<flow name="sample-demoFlow" doc:id="2cdfb720-d0ea-4a55-8af0-d0a71fa5a0ab" >
		<http:listener doc:name="Listener" doc:id="cb4cd29c-8e59-4424-8abf-b53825c0406e" config-ref="HTTP_Listener_config" path="/empdata"/>
		<http:request method="GET" doc:name="Request" doc:id="6d247ea0-13d2-4712-888f-df12089f1721" config-ref="HTTP_Request_configuration" path="/api/users"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="19853ed7-6720-403e-ad57-26f842fef7bd" />
	</flow>
</mule>
